<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name><![CDATA[gestpay]]></name>
    <displayName><![CDATA[GestPay Banca Sella]]></displayName>
    <version><![CDATA[0.5.1]]></version>
    <author><![CDATA[Yameveo]]></author>
    <description><![CDATA[Accept payments by Banca Sella gateway]]></description>
    <tab><![CDATA[payments_gateways]]></tab>
    <is_configurable><![CDATA[1]]></is_configurable>
    <need_instance><![CDATA[0]]></need_instance>
</module>
